         
<div data-hook="products_search_results_heading">

</div>

<div class="product-filter">
  <div class="display">Display: <a onclick="display('list');"><i class="fa fa-th-list"></i></a><span><i class="fa fa-th-large"></i></span></div>
  <div class="limit" class="btn btn-primary"><%= link_to Spree.t(:remove_all), :controller => "wished_products", :action => "destroy_all", :class => :button %>
</div>
</div>


<div class="box-content">            
  <div class="product-grid row row-5">


  <% if @wishlist.wished_products.size > 0 %>
    <% @wishlist.wished_products.each do |wish|
        variant = wish.variant
        product = variant.product %>
    <tr class="<%= cycle('', 'alt') %>">
    <% if @wishlist.user == spree_current_user %>

    <div class="product-item-0">
      <div class="actions">
        <div class="image"><% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
          <% else %>
          <%= image_tag variant.images.first.attachment.url(:small) %>
          <% end %>
        </div>
      
      </div>
      <div class="name"><h4><%= link_to product.name, product %></h4></div>
      <div class="author"><a href="book.html">Dan Brown</a></div>
      <div class="price"><%= display_price(variant) %></div>
                          <div class="lemmaBook">
        <div class="cartAdd">
          <!--<input type="button" class="btn btn-primary" value="Add to Cart">-->
          <%= form_for :order, :url => populate_orders_path do |f| %>
          <%= hidden_field_tag "variants[#{variant.id}]", 1, :size => 3 %>
          <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:add_to_cart) %>
          <% end %>
        <% end %>
       </div>
       <div class="wishlistAdd"><%= link_to '', wish, :confirm => "Are you sure?",  :method => 'delete', :class => 'active fa fa-list' %></div>         
     </div>    
     <% end %> 
    </div>
        <% end %>
  <% else -%>
      <div class="product-item-0">
          <%= Spree.t(:your_wishlist_is_empty) %>
    </div>
        <% end %>

  </div>



